<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      
      
      <div style="padding: 20px;">
        <h4 style="text-align: center;">{{ images[currentpage].title }}</h4>
        <img style="cursor: pointer;" (click)="slideshowToggle()" class="img img-fluid" [src]="images[currentpage].url" />
      </div>

      <!-- <div [ngSwitch]="currentpage">
        <div *ngSwitchCase=""></div>
      </div> -->


      <p style="text-align: center;">Click on the image to start or stop the slideshow</p>
      <nav style="padding: 20px;">
        <ul class="pagination">
          <li class="page-item" [ngClass]="{ disabled: currentpage === 0 } ">
            <a (click)="currentpage = currentpage - 1" class="page-link">Previous</a>
          </li>
          <ng-container *ngFor="let image of images; let i = index;">
            <li *ngIf="checkWindowIndex(i)" class="page-item" [ngClass]="{ active: i === currentpage }" >
              <a (click)="currentpage = i" class="page-link" href="#">{{ i + 1 }}</a>
            </li>
          </ng-container>
          <li class="page-item" [ngClass]="{ disabled: currentpage === images.length - 1 } ">
            <a (click)="currentpage = currentpage + 1" class="page-link">Next</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="col-md-3"></div>
  </div>


</div>