<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      
      <!--  -->
      <div style="padding: 20px;">
        <div>
          <h4 class="main-title" style="text-align: center;">{{ images[currentpage].title | titlecase }}</h4>
        </div>
        <!--  -->
        
        <div class="" [appImageStabilizer]="{ height: '400' }">
          <img style="cursor: pointer;" (click)="slideshowToggle()" style="width: 100%" class="img img-fluid sliderImage align-self-center" [src]="images[currentpage].url" />
        </div>
      </div>
      

      <!-- <div [ngSwitch]="currentpage">
        <div *ngSwitchCase=""></div>
      </div> -->


      <div class="row" style="text-align: center; padding: 10px;">
        <div class="col-md-3"> 
        </div>
        <div class="col-md-6">
          <div class="input-group flex-nowrap">
            <button style="margin-right: 5px; border-radius: 0px;" (click)="slideshowToggle(1)" class="btn btn-outline-success" *ngIf="!play">Start</button>
            <button style="margin-right: 5px; border-radius: 0px;" (click)="slideshowToggle(0)" class="btn btn-outline-danger" *ngIf="play">Stop</button>
            <span class="input-group-text" style="border-radius: 0px;">Time</span>
            <input id="timer" style="text-align: center; border-radius: 0px;" class="form-control" [value]="slideTime" (input)="setSliderTime($event.target.value)" />
          </div>
        </div>
        <div class="col-md-2">
          
        </div>
      </div>
      
      <nav style="padding: 20px;">
        <ul class="pagination justify-content-center">
          <li class="page-item" [appClass]="{ disabled: currentpage === 0 } ">
            <a (click)="currentpage = currentpage - 1" class="page-link">Previous</a>
          </li>
          <ng-container *appTimes="images.length; let i = index;">
            <li *ngIf="checkWindowIndex(i)" class="page-item" [appClass]="{ active: i === currentpage }" >
              <a (click)="currentpage = i" class="page-link" href="#">{{ i + 1 }}</a>
            </li>
          </ng-container>
          <li class="page-item" [appClass]="{ disabled: currentpage === images.length - 1 } ">
            <a (click)="currentpage = currentpage + 1" class="page-link">Next</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="col-md-2"></div>
  </div>
</div>